{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class = "card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet maiores cumque optio hic in temporibus doloremque aut, alias recusandae! Minima cum vero autem laborum non, 
        nemo debitis cumque qui veritatis. Iure dignissimos nostrum maiores rem soluta. Officia, quis pariatur! Alias harum molestiae laudantium id non optio temporibus. Eum dolorum 
        deserunt ad quia quam sapiente quo tempora facere iusto rerum ipsum eveniet, animi fugiat fuga assumenda minus unde laboriosam velit dignissimos earum quae pariatur ratione quasi iste? 
        Qui consectetur ex assumenda iste? Voluptates, aperiam! Ducimus suscipit dolorum eaque magnam corrupti dolores aperiam error, eum dolor officia numquam. Eaque maiores velit a!</p>

      <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark"href="/signup/">
            Signup
        </a>
      </div>
    </section>
</main>
{% endblock %}

